# virtual environment
.venv/

# python cache
__pycache__/
*.pyc

# local data and uploads
backend/uploads/
backend/app/uploads/
backend/data/
alpr/models/
carid/__pycache__/

# OS junk
.DS_Store
Thumbs.db
